<p id="notice"><%= notice %></p>

<h1>Listing Subjects for Year <%= params[:year] %></h1>

<ul>
  <% @subjects.each do |subject| %>
    <a href="<%= subject_path(subject) %>">
      <li><%= subject.name %></li>
    </a>
  <% end %>
</ul>

<%= link_to 'New Subject', new_subject_path %>
