<p id="notice"><%= notice %></p>
<% @posts.each do |post| %>
<p><%= post.title %></p>
<div class = "post-group">
<p><%= post.summary%></p>
<p><%= post.resource_type%></p>
<p><%= link_to post.file_url,post.file_url,target: "_blank"%></p>
<p><%= post.user.email%></p>
<p><%= post.created_at.strftime("%b %d,%Y")%></p>
</div>
<% end %>



<%= link_to "Add Post", new_post_path(subject_id: @subject.id),class: "btn btn-primary"%>

